table {
    border-style:initial;
    border-collapse: collapse;
}

body{
    background-image: url("../../publico/Img/algo3.gif");
}

#nomb{
    margin-left: 25px;
}

#stock{
    margin-left: 18px;
}

#costo{
    margin-left: 38px;
}

#ing{
    width: 350px;
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(231, 0, 0);
    margin-left: 400px;
    color: white;
  }


#Products{
    background-color: rgb(245, 222, 179);
    width: 300px;
    margin-top: 3%;
}

#Transaction{
    background-color: thistle;
    width: 300px;
    margin-top: 3%;
    
}

.tableFormat{
    background-color: lightskyblue;
}

table{
    width: 100%;
    text-align: center;
}




