table {
    border-style:initial;
    border-collapse: collapse;
}

 
.imgbody {
    background-image: url("../../public/img/Recurso_1.png");
    background-size: 35%;
    background-color: rgb(173, 230, 218);
    background-position-x: center;
background-position-y: center;
background-repeat: no-repeat;
}

table{
    width: 100%;
    text-align: center;
    font-weight:bold;
    background-color: rgba(255, 255, 255, 0.342);
}



#body_2{
    background-image: url("../img/Recurso_1.png");
    background-color: rgb(173, 230, 218);
    background-size: 45%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#nomb{
    margin-left: 25px;
}

#stock{
    margin-left: 18px;
}

#costo{
    margin-left: 38px;
}

#ing{
    width: 350px;
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(231, 0, 0);
    margin-left: 400px;
    color: white;
  }


/* #Products{
    background-color: rgb(245, 222, 179);
    width: 300px;
    margin-top: 3%;
}

#Transaction{
    background-color: thistle;
    width: 300px;
    margin-top: 3%;
    
}
 */




#personaje{
    position: relative;
    bottom: 0px;
    top: 100px;
    left: -490px;
    background-image: url(../../public/img/frames2.png);
    height: 600px;
    width: 550px;
    animation-name: myPerson;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: 1;
}

@keyframes myPerson {
    from{
        background-position-x: 0px;
    } 

    to{
        background-position-x: -5409px;
    }
}

.globo{
    position: absolute;
    width: 250px;
    height: 150px; 
    top: 30px;
    left: 300px;
    right: 10px;
    padding: 1.5em;
    border-radius: 2em;
    font-family: sans-serif;
    background-color: white;
    filter: drop-shadow(0px 0px 1px black) ;
  }
 
  .globo::before{
    content: '';
    position: absolute; 
    z-index: -1;
    width: var(--colita);
    height: var(--colita);
    --colita: 50px;
    left: 10px;
    bottom: calc( var(--colita) / -2.5);
    border-radius: 0 0 10em 0;
    box-shadow: 
      inset calc(var(--colita)/-3) calc(var(--colita)/4) 0 0 white;
  }

  #next{
    position: absolute;
    top: 143px;
    left: 484px;
    border-radius: 10em;
    filter: drop-shadow(0px 0px 1px black) ;
    
  }

 /* registro  */
#registro {
    position: absolute;
    width: 50%;
    margin-left: 200px;
}
  
#registro form {
    width: 60%;
    margin: 60px auto;
    background: #efefefd7;
    padding: 60px 120px 80px 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  }
#registro label {
    display: block;
    position: relative;
    margin: 40px 0px;
  }
  #registro .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-family: sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    transition: ease .3s;
  }
  #registro .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  #registro .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  #registro  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
  }
  
  #registro .input:focus + .line-box .line {
    width: 100%;
  }
  
  #registro .label-active {
    top: -3em;
  }
  
  #registro  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
  }
  
  #registro button:hover {
    background: #8BC34A;
    color: #ffffff;
  }
  

